*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.App {
  min-height: 100vh;
  display:flex;
  justify-content:center;
}

.login-container
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.login-to-register
{
  font-size:0.75rem;
  color:gray;
}
