.navbar {
	width: 100%;
	height: 70px;
	background-color: #12a5ee;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	color: white;
	font-size: 25px;
	margin-left: 20px;
	text-decoration: none;
}

.logo:hover
{
	color: #d1c9c7;
}

.btn_logout {
	border: none;
	outline: none;
	padding: 6px 10px;
	background-color: white;
	border-radius: 20px;
	width: 150px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
	text-decoration: none;
	color:black;
}
 .btn_logout:hover
{
	background-color:rgb(140, 148, 148);
	transition-timing-function: ease-in;


	transition:0.3s ease-out; 	
	color:white; 
}


.form_questions
{
	display:flex;
	flex-direction: column;
}

.form_questions h2
{
	color:black;
}